#title 
{
    height:             50px;    
    background-color:   #b4621c;
    background-image:   url("Images/Background.png");
    text-align :        center;
    color:              #d58540;
    font-family:        Arial;
    font-size:          46px;
}
#upload 
{
    background-color:   #104100;
    text-align:         center;  
}
#map 
{
    height:             400px;
}

