#title
{
    height:             50px;    
    background-color:   #c1253e;
    text-align :        center;
    color:              #FFF;
    font-family:        'Century Gothic';
    font-size:          40px;
}
#subtitle
{
    height:             25px;    
    background-color:   #696969;
    text-align :        center;
    color:              #FFF;        
    font-family:        'Century Gothic';
    font-size:          20px;
}
#aantal 
{
    height:             25px;    
    background-color:   #c1253e;
    text-align :        center;
    color:              #FFF;
    font-family:        'Century Gothic';
    font-size:          20px;
}
#map 
{
    height:             600px;
}
.leaflet-popup-content-wrapper 
{
  background:#c1253e;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.leaflet-popup-content-wrapper a 
{
  color:rgba(255,255,255,0.5);
  }
.leaflet-popup-tip-container 
{
  width:0px;
  height:0px;
}
.leaflet-popup-tip 
{
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }